* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 73, 73);
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: mediumpurple;
}

.card {
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: white;
    box-shadow: 0px 10px 40px black;
    border-radius: 5px;
}


/*--------header-------*/

header {
    position: absolute;
    top: 0px;
    left: 10%;
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: mediumpurple;
}

.shoppingcar {
    max-width: 40px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    text-decoration: none;
    list-style: none;
    color: rgb(207, 207, 207);
    width: 110px;
    text-align: center;
}

.flecha {
    max-width: 10px;
}


/*----------------------------*/

.columnas {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 100px;
    left: 5%;
    display: flex;
    justify-content: space-between;
}

.izquierda,
.derecha {
    width: 48%;
    height: 100%;
    text-align: left;
}

.izquierda {
    background-color: rgb(241, 239, 241);
    border: 1px solid rgb(219, 219, 219);
}

.contenido {
    background-color: rgb(241, 239, 241);
    border: 1px solid rgb(219, 219, 219);
    height: 60%;
}

h2 {
    text-align: center;
    font-size: 22px;
    padding-top: 10%;
}

label,
.formderecha p {
    font-size: 13px;
    color: grey;
    padding-bottom: 15px;
    padding-left: 20px;
}

input,
select {
    padding: 10px;
    border: 1px solid rgb(175, 175, 175);
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    color: rgb(54, 54, 54);
}

.formizquierda,
.formderecha {
    padding: 5%;
}


/*---- form izquierda --- */

.nombres input,
.city,
.paises {
    width: 13vw;
}

.mail,
.street {
    width: 29vw;
}

.nombres,
.address {
    display: flex;
    justify-content: space-between;
}

.cod {
    background-color: rgb(206, 206, 206);
    border: none;
    margin: 0;
}

.telf {
    border: none;
    margin: 0;
}

.telefono {
    border: 1px solid rgb(175, 175, 175);
    background-color: white;
    border-radius: 2px;
    margin-left: 5px;
}

.telefono:hover {
    border: 1px solid mediumpurple;
}


/*----------------------------*/


/*-------form derecha---------*/

.options {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.cuadrado {
    width: 13vw;
    height: 10.5vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
    position: relative;
}

.cuadrado:active {
    background-color: mediumpurple;
    border: 1px solid rgb(103, 44, 221);
}

.cuadrado:active h3 {
    color: white;
}

.cuadrado:active p {
    color: rgb(103, 44, 221);
}

.cuadrado p {
    font-size: 15;
    padding: 0;
    position: absolute;
    bottom: 20%;
    left: 38%;
}

.cuadrado h3 {
    font-size: 30px;
    position: absolute;
    left: 45%;
    top: 20%;
    color: mediumpurple;
}

.estimated {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
}


/*----------------------------*/

.form {
    margin-top: 5vh;
}

.botonconfirm {
    margin-top: 3vh;
    width: 100%;
    height: 12vh;
    background-color: mediumpurple;
    color: white;
    border: 1px solid mediumpurple;
    font-weight: bold;
    border-radius: 3px;
}